<head>
  {% if page.meta_keywords != null %}
  <meta name="keywords" content="{{ page.meta_keywords }}, {{ site.meta_keywords }}" />
  {% endif %}

  {% if page.meta_description != null %}
  <meta name="description" content="{{ page.meta_description }} {{ site.meta_description }}" />
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Maitree|Montserrat" rel="stylesheet">
</head>
