@import "normalize";
@import "md";


body {
	font-size: 15px;
	font-family: Lato, Arial, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background: #FFF;
	/*color: #F0F0F0;*/

	.thin {
		font-weight: 300;
	}
}

span.telegram-icon {
	background: url('../images/sprite.png') no-repeat -2px -12px;
	width: 25px;
	height: 25px;
	display: inline-block;
}

span.linkedin-icon {
	background: url('../images/sprite.png') no-repeat -28px -12px;
	width: 25px;
	height: 25px;
	display: inline-block;
}

span.skype-icon {
	background: url('../images/sprite.png') no-repeat -195px -21px;
	width: 25px;
	height: 25px;
	display: inline-block;
}

span.magento-icon {
	background: url('../images/sprite.png') no-repeat -1px -42px;
	width: 99px;
	height: 28px;
	display: inline-block;
}

span.drupal-icon {
	background: url('../images/sprite.png') no-repeat -64px -6px;
	width: 31px;
	height: 36px;
	display: inline-block;
}

span.bootstrap-icon {
	background: url('../images/sprite.png') no-repeat -57px -70px;
	width: 31px;
	height: 31px;
	display: inline-block;
}

span.jquery-icon {
	background: url('../images/sprite.png') no-repeat -109px -48px;
	width: 113px;
	height: 26px;
	display: inline-block;
}

span.docker-icon {
	background: url('../images/sprite.png') no-repeat -102px -2px;
	width: 49px;
	height: 41px;
	display: inline-block;
}

span.vagrant-icon {
	background: url('../images/sprite.png') no-repeat -153px 0;
	width: 38px;
	height: 45px;
	display: inline-block;
}

span.git-icon {
	background: url('../images/sprite.png') no-repeat -90px -75px;
	width: 63px;
	height: 25px;
	display: inline-block;
}

span.debian-icon {
	background: url('../images/sprite.png') no-repeat -52px -106px;
	width: 51px;
	height: 51px;
	display: inline-block;
}

span.raspberrypi-icon {
	background: url('../images/sprite.png') no-repeat -111px -103px;
	width: 40px;
	height: 51px;
	display: inline-block;
}

span.oracle-icon {
	background: url('../images/sprite.png') no-repeat -156px -101px;
	width: 63px;
	height: 63px;
	display: inline-block;
}

span.macos-icon {
	background: url('../images/sprite.png') no-repeat -154px -75px;
	width: 81px;
	height: 23px;
	display: inline-block;
}


span.mekongdata-icon {
	background: url('../images/sprite.png') no-repeat 0 -73px;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	display: inline-block;
}

span.cepac-icon {
	background: url('../images/sprite.png') no-repeat 0px -124px;
	width: 50px;
	height: 50px;
	margin-top: 20px;
	display: inline-block;
}

span.qr-icon {
	background: url('../images/sprite.png') no-repeat 0 -180px;
	width: 240px;
	height: 240px;
	margin-top: 20px;
	display: inline-block;
}

blockquote {
	font-style: italic;
	font-family: Georgia, serif;
	font-size: 17px;
	padding: 10px 20px;
	padding-left: 50px;
	border: none;
	margin: 10px 0 0 0;
}

blockquote:before {
	font-style: italic;
	font-family: Georgia, serif;
	font-size: 45px;
	height: 90px;
	margin-left: -28px;
	margin-top: -20px;
	content: "‟";
	display: block;
	float: left;
}

.icon {
	margin-right: 10px;
	position: relative;
	top: 5px;
}

.techno {
	max-height: 100px;
	max-width: 100px;
}

.main  {
	background-color: rgb(112, 157, 199);


	/*background-image: radial-gradient(rgb(112, 157, 199), rgb(75, 132, 185));*/
	section.page1 {

		background-image: url(../images/page1_bkg.png);
		background-repeat: no-repeat;
		background-position: center;

		.photo-container {
			padding-top: 5%;
		}

		@media screen and (min-width: 768px) {
			.photo-container {
				padding-top: 18%;
			}

			.info-container {
				padding-top: 10%;
			}


			.his-info {
				margin-top: 5%;
			}
		}

		.has-sub-info {
			margin-bottom: 5px;
		}

		.sub-info {
			margin-top: 5px;
			margin-bottom: 30px;
		}

		.his-photo {
			width: 150px;
		}

		.sec-line-phone {
			padding-left: 35px;
		}
	}

	section.page2 {
		background-image: url(../images/page2_bkg.png);
		background-repeat: no-repeat;
		background-position: center;

		/*color: #F0F0F0;*/
		@media screen and (min-width: 768px) {
			.info-container {
				/*padding-top: 10%;*/
			}
		}


	}


	section.page3 {
		background-image: url(../images/page3_bkg.png);
		background-repeat: no-repeat;
		background-position: center;

		/*color: black;*/
		@media screen and (min-width: 768px) {
			.info-container {
				/*padding-top: 10%;*/
			}
		}

		
	}


	section.page4 {
		
		background-color: rgb(112, 157, 199);
background-image: radial-gradient(rgb(112, 157, 199), rgb(75, 132, 185));
		/*color: black;*/
		@media screen and (min-width: 768px) {
			.info-container {
				padding-top: 10%;
			}
		}

		
	}

}

