// Night mode
$default-color-night: #8D949E;
$default-shade-night: #B1B1B1;
$default-tint-night: #aaa;
$grey-1-night: #979797;
$grey-2-night: #e5e5e5;
$grey-3-night: #242526;
$white-night: #fff;
$bgr-night: #18191A;
$blue-night: #4a9ae1;
$shadow-color-night: rgba(0, 0, 0, .2);
