<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/onepage-scroll.css' | relative_url }}">
 <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="{{ '/assets/js/script.js' | relative_url }}"></script> -->
  <script type="text/javascript" src="{{ '/assets/js/jquery-1.12.4.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.onepage-scroll.min.js' | relative_url }}"></script>



  <title>{{ site.title | default: site.github.repository_name }}</title>
  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<script>
    $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 600,
        loop: true
      });
    });

  </script>
  <style type="text/css">
    .main section.page2 {
      background: #FF4;
    }
  </style>
</head>

<body>
  {{ content }}

</body>
</html>
